<footer>
    <div class="footer_content">
        <div class="footer_content_left">
            <span>网站首页</span>
            <span>关于君鑫</span>
            <span>网站首页</span>
            <span>产品展示</span>
            <span>新闻资讯</span>
            <span>贵金属服务</span>
            <span>废料采购</span>
            <span>贵金属知识</span>
            <span>在线留言</span>
            <span>联系我们</span>
            <div class="footer_text">
                <p>联系电话：13968560738</p>
                <p>联系地址：北京市朝阳区东三环北路甲6号</p>
                <p>Copyright©江西省君鑫贵金属科技材料有限公司
                    <span>备案号:赣ICP备20001054号</span>
                    <span>&nbsp;公安.赣公网安备/6112902000023号</span>
                </p>
            </div>

        </div>
        <div class="Qr_code">
            <img src="/assets/img/images/Qr_code.png">
        </div>
    </div>
</footer>